<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.tron.treediseases"
        version = "1.0.4">
    <name>Tree Alert</name>

    <description>
        App for reporting tree diseases and pests.
    </description>

    <author href="http://www.tronsystems.co.uk" email="fc.support@tronsystems.co.uk">
        Tron Systems
    </author>
    
    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <gap:plugin name="ChildBrowser" />

    <preference name="phonegap-version" value="2.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    
    <preference name="android-installLocation" value="preferExternal" />

	<!-- For iPhone only - remove for Android build -->
	<access origin="*" />
    <!-- ******************** -->

    <icon src="icons/icon.png" />
    <icon src="icons/android/treeAlertIcon_android_ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/treeAlertIcon_android_mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/treeAlertIcon_android_hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/treeAlertIcon_android_xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="icons/blackberry/treeAlertIcon_BB.png" gap:platform="blackberry" />
    <icon src="icons/blackberry/treeAlertIcon_BB.png" gap:platform="blackberry" gap:state="hover"/>
    <icon src="icons/ios/treeAlertIcon_iOS_standard.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons/ios/treeAlertIcon_iOS_iPad.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/treeAlertIcon_iOS_iPad.png" gap:platform="ios" width="114" height="114" />
    <icon src="icons/ios/treeAlertIcon_iOS_retina.png" gap:platform="ios" width="144" height="144" />
    
    <gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_original.png" width="320" height="480" />
	<gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_iPhone5.png" width="640" height="960" />
	<gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_retina.png" width="640" height="1136" />
	<gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_1024x768.png" width="1024" height="768" />
	<gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_768x1024.png" width="768" height="1024" />
	<gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_iPad-retina_landscape.png" width="2048" height="1496" />
	<gap:splash gap:platform="ios" src="splash/ios/Tree-Alert-splash-screen-v2_iPad-retina_portrait.png" width="1536" height="2008" />

	<gap:splash src="splash/android/ldpi/Tree-Alert-splash-screen-v2_ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi/Tree-Alert-splash-screen-v2_mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi/Tree-Alert-splash-screen-v2_hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi/Tree-Alert-splash-screen-v2_xhdpi.png" gap:platform="android" gap:density="xhdpi" />	
    
</widget>